@tailwind base;
@tailwind components;
@tailwind utilities;


#exp {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.cycle{
    display:inline-block;
    line-height:1;
}
#cycle{
    display:inline-block;
    line-height:1;
}

/* this is the animation css for the text reel */
#cycle:after {
    animation-name: cycle; 
    animation-duration: 7s;
    animation-iteration-count: infinite;
    content: ""; 
  }

@keyframes cycle {
  0% {
    content: "stress";
  }
  20% {
    content: "boxes";
  }
  40% {
    content: "stairs";
  }
  60% {
      content: "packing"
  }
  80% {
    content: "lost tape";
  }
  100%{
      content: "stress"
  }
}